@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}
.gallery {
	height: 100vh;
	margin: 0;
	overflow-y: scroll;
	padding: 0;
	scroll-snap-type: y mandatory;
}
.gallery-item {
	display: flex;
	height: 100%;
	flex-direction: column;
	scroll-snap-align: start;
	position: relative;
	width: 100%;
}
.gallery-item-detail {
	padding-top: 20px;
}
.gallery-item-detail p {
	margin-left: 4px;	
	margin-top: 4px;
}
.gallery-item-detail-note {
	opacity: 1;
	transition: opacity 1s;
}
.gallery-item-detail-title {
	margin-bottom: 0;
}
.gallery-item-detail-note p {
	display: inline-block;
}
.gallery-item-display {
	display: block;
	height: calc(100% - 122px);
	overflow-x: auto;
	position: relative;
	scroll-snap-type: x mandatory;
	top: 4px;
	width: 100%;
	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}
 /* Hide scrollbar for Chrome, Safari and Opera */
.gallery-item-display::-webkit-scrollbar {
	display: none;
}

.example {
} 
.gallery-item-display-slider {
	display: flex;
	flex-direction: row;
	height: 100%;
	position: absolute
}
.gallery-item-display-slider-img {
	transition: opacity 1s;
	display: block;
	height: 100%;
	margin: auto;
	position: relative;
	scroll-snap-align: start;
	width: 100vw;
}
/* .gallery-item-display-drawing, */
.gallery-item-display-slider-img img {
	transition: opacity 1s;
	display: block;
	margin: auto;
	max-height: 100%;
	max-width: 100%;
}
.gallery-item-display--invisible {
	opacity: 0;
}
.gallery-item-order {
	align-items: center;
	bottom: 2px;
	display: flex;
	flex-wrap: wrap;
	gap: 0 12px;
	justify-content: right;
	position: absolute;
	max-width: 140px;
	right: 16px;
}
.gallery-item-order-stock {
	margin: 0;
	text-align: right;
}
.gallery-item-order-add {
	background: #000;
	border: #000;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
	padding: 12px;
}
.gallery-item-order-cart {
	display: flex;
	gap: 0 12px;
	min-width: 160px;
}
.gallery-item-order-cart-qty {
	flex-basis: 100%;
	font-size: 18px;
	margin: 0;
	text-align: right;
}
.gallery-item-order-remove {
	background: none;
	cursor: pointer;
	border: none;
	font-size: 18px;
	text-decoration: underline;
	width: fit-content;
}
.gallery-item-page {
	bottom: 0px;
	left: 8px;
	position: absolute;
}
.gallery-item-page p {
	text-align: center;
	margin: 0;
}
.gallery-item-page-control {
	background: transparent;
	border: 0;
	display: inline-block;
	padding: 0;
	vertical-align: middle;
	width: 48px;
}
.gallery-item-page-control--down {
	cursor: s-resize;
}
.gallery-item-page-control--up {
	cursor: n-resize;
}
.gallery-item-image-control {
	background: transparent;
	border: 0;
	display: none;
	padding: 0;
	position: absolute;
	top: 50%;
	width: 48px;
}
.gallery-item-image-control--right {
	right: 0;
	top: 50%;
	
}
.gallery-item-image-control--left {
	right: 0;
	left: 50%;
}
.gallery-item-image-dots {
	bottom: 80px;
	display: flex;
	justify-content: center;
	position: absolute;
	width: 100%;
}
.cart-cta {
	background: transparent;
	position: absolute;
	right: 6px;
	text-align: right;
	top: 0px;
}
.link-style {
	color: #1a0dab;
	text-decoration: underline;
}

.cart-cta-cnt {
	bottom: 0;
	color: #000;
	font-weight: bold;
	font-size: 14px;
	left: 0;
	position: absolute;
	text-decoration: none;
}

@media only screen and (min-width: 350px) {
	.gallery-item-order {
		max-width: 250px;
	}
	.gallery-item-order-cart {
		display: block;
		min-width: auto;
	}
}

@media only screen and (min-width: 481px) {
	.gallery-item-image-control {
		display: block;
	}
}